
{% load static %}
<div class="card" style="width: 18rem;">
  {% if product.image %}
    <img class="card-img-top" src="{{ product.image.url}}" alt="Card image cap">
  {% else %}
    <img class="card-img-top"  src="{% static 'img/twitch.jpg' %}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h3 class="card-title">{{ product.title }}</h3>
    <p>added {{product.timestamp|timesince}} ago</p>
    <p class="card-text">{{ product.description }}</p>
    ${{ product.price }} <a href="{{ product.get_absolute_url}}" class="btn btn-primary">Detail</a>
    <!-- {% include 'products/snippets/add-to-cart.html' with product=product cart=cart %} -->
    <!-- <a href="{% url 'products:detail' pk=product.pk  %}" class="btn btn-default">Add to Card</a> -->
  </div>
</div>


